* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    background-color: #00a6a2;
    height: 15vh;
}


main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.names h1 {
    text-align: center;
    background-color: #1e6a71;
    color: white;

}

.role {
    display: flex;
    margin: 30px 0px;
    justify-content: center;
    width: 100%;
}

i {
    margin-top: 4px;
    margin-right: 5px;
}

.info li {
    margin-bottom: 10px;
    margin-left: 20px;
}

.employeeContainer {
    border: 1px solid black;
    width: 300px;
    height: 250px;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
}